/* Estilos para el formulario de contacto */
body {
  background-color: rgb(42, 115, 123);
  margin-top: 200px;
}

/* Estilos para el contenedor del formulario */
.form-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
}

/* Estilos para el formulario de contacto */
.form-container {
  width: 100%;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
}

input,textarea {
  width: 70%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  height: 20px;
}

textarea {
  height: 80px;
}

span.error-message {
  color: red;
  font-size: 14px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
