body {
  font-family: Arial, sans-serif;
  text-align: center;
}

input[type="text"], button {
  padding: 5px;
  margin-right: 5px;
}

button {
  margin-left: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 10px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

input[type="checkbox"] {
  margin-right: 20px;
}
