/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, ul, li, p, button, input, select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 40%;
  margin-bottom: 10px;
}

input[type="text"][placeholder="Categoría"] {
  width: 20%;
  margin-bottom: 10px;
}

input,
button,
select {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
}

input[type="text"] {
  width: 60%;
  margin-right: 10px;
}

li del {
  text-decoration: line-through;
  color: #888;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px;
  margin-left: 5px;
}

button.delete {
  background-color: #dc3545;
}

select {
  width: 40%;
}

li.deleted span {
  color: #dc3545;
}

li.editing {
  background-color: #ffffcc;
}
