.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content-container {
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

div {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
}

button {
  font-size: 1em;
  margin: 0 5px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
}

button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

button:hover {
  background-color: #2980b9;
}
