.contador-container {
  text-align: center;
  margin: 20px;
}

.contador-text {
  font-size: 2em;
  margin-bottom: 10px;
}

.contador-button {
  font-size: 1em;
  padding: 10px;
  cursor: pointer;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.contador-button:hover {
  background-color: #2980b9;
}

body {
  background-color: #c3dffb;
  text-align: center;
}